@inject NavigationManager _navigationManager

<div @onclick=@(() => _navigationManager.NavigateTo($"room/detail?id={Room.Id}")) style="cursor: pointer;">
    @Room.Name
</div>

@code {
    [Parameter]
    public required Room Room { get; set; }
}
