@inject NavigationManager _navigationManager

<div class="w-full border-b-2 border-slate-200 px-4 py-2 flex flex-row justify-between">
    <div class="font-normal">
        @Room.Name
    </div>
    @if (IsUserAdmin)
    {
        <div @onclick=@(() => _navigationManager.NavigateTo($"room/detail?id={Room.Id}")) class="cursor-pointer font-normal hover:text-contrast smooth-change">
            <i class="fi fi-rr-edit"></i>
        </div>
    } else {
        <div @onclick=@(() => _navigationManager.NavigateTo($"room/join?id={Room.Id}")) class="cursor-pointer font-normal hover:text-contrast smooth-change">
            <i class="fi fi-rr-hand-paper"></i>
        </div>
    }
</div>

@code {
    [Parameter]
    public required Room Room { get; set; }

    [Parameter]
    public required bool IsUserAdmin { get; set; }
}
