﻿<div class="z-20 fixed bottom-5 right-5 transition-all flex flex-col gap-10">
    @foreach (var toast in _toasts)
    {
        <div class="bg-white rounded-md flex flex-row content-between items-center gap-10 transition-all
            overflow-hidden shadow">
            <div class="flex flex-row gap-5 content-start items-center">
                <div class='@(toast.Type == ToastType.Success ? "bg-green-500" : "bg-red-500")
                    w-2 h-16'>
                </div>
                <i class='@(toast.Type == ToastType.Success ? "text-green-500 fa-circle-check" : "text-red-500 fa-circle-xmark")
                    text-2xl fa-regular'></i>
                <label class="text-sm">
                    @toast.Text
                </label>
            </div>
            <div class="text-gray-400 hover:text-red-500 cursor-pointer p-5 transition-all"
                 @onclick="() => _toasts.Remove(toast)">
                CLOSE
            </div>
        </div>
    }
</div>

@code {
    private List<Toast> _toasts = new();

    public async void RunToast(Toast toast)
    {
        _toasts.Add(toast);
        StateHasChanged();
        await Task.Delay(Constants.Limits.DEFAULT_TOAST_DURATION_IN_MS);
        if (_toasts.Contains(toast))
        {
            _toasts.Remove(toast);
            StateHasChanged();
        }
    }
}