@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="settings" Match="NavLinkMatch.All"><i class="fi fi-rr-user-pen"></i>&nbsp;&nbsp;Profile</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="settings/email"><i class="fi fi-rr-at"></i>&nbsp;&nbsp;Email</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="settings/change-password"><i class="fi fi-rr-password"></i>&nbsp;&nbsp;Password</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="settings/personal-data"><i class="fi fi-rr-file-user"></i>&nbsp;&nbsp;Personal data</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/"><i class="fi fi-rr-angle-left"></i>&nbsp;&nbsp;Back to app</NavLink>
    </li>
</ul>