@page "/room/my-queue"
@attribute [Authorize]
@inject IDbContextFactory<AppDbContext> _dbContextFactory
@inject NavigationManager _navigationManager

<PageTitle>Poradovník</PageTitle>

@if(_room is null || _queuedCurrentUser is null)
{
    <Spinner/>
} else
{
    <h1>Ste v poradovníku miestnosti @_room.Name</h1>

    <div class="max-w-1/4 w-1/4 flex flex-col space-y-4 mt-4">
        <div class="flex flex-col space-y-2">
            <h5>Vaše číslo:</h5>
            <p>@_queuedCurrentUser.Order</p>
        </div>
        <div class="flex flex-col space-y-2">
            <h5>Počet ľudí pred Vami:</h5>
            <p>@_room.QueuedUsers.Count(x => x.Order < _queuedCurrentUser.Order)</p>
        </div>
        <button class="btn-primary" @onclick="LeaveQueueAsync"><i class="fi fi-rr-user-slash"></i>&nbsp;&nbsp;Leave queue</button>
    </div>
}

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [CascadingParameter(Name = Constants.CascadingParameters.CURRENT_ACCOUNT)]
    public required User _user { get; set; }

    [CascadingParameter(Name = Constants.CascadingParameters.MAIN_LAYOUT)]
    public required MainLayout _mainLayout { get; set; }

    private Room? _room;
    private QueuedUser? _queuedCurrentUser;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        using var db = _dbContextFactory.CreateDbContext();

        _room = await db.Rooms.Include(x => x.QueuedUsers).AsNoTracking().FirstOrDefaultAsync(x => x.Id.Equals(Id));

        if (_room is null)
        {
            _mainLayout.RunToast(new("Žiadaná miestnosť už neexistuje.", ToastType.Fail));
            _navigationManager.NavigateTo("/");
            return;
        }

        _queuedCurrentUser = _room.QueuedUsers.FirstOrDefault(x => x.QueueState.Equals(QueueState.Waiting) && x.UserId.Equals(_user.Id));

        if(_queuedCurrentUser is null)
        {
            _mainLayout.RunToast(new("Nie ste v poradovníku tejto miestnosti.", ToastType.Fail));
            _navigationManager.NavigateTo($"/room/join?id={Id}");
            return;
        }

        StateHasChanged();
    }

    private async Task LeaveQueueAsync()
    {
        if (_room is null)
            return;

        using var db = _dbContextFactory.CreateDbContext();

        var targetQueuedUsers = await db.QueuedUsers.Where(x => x.UserId.Equals(_user.Id) && x.RoomId.Equals(_room.Id)).ToListAsync();

        db.RemoveRange(targetQueuedUsers);

        await db.SaveChangesAsync();

        _mainLayout.RunToast(new($"Úspešne ste opustili poradovník miestnosti {_room.Name}.", ToastType.Fail));
        _navigationManager.NavigateTo("/");
    }
}